@{
    ViewBag.Title = "About";
}
<h2>Meet SHARSALON&trade;</h2>
<h3>Ecofriendly trash collection and disposal</h3>

<p>SHARSALON employs private contractors to come to you on your schedule. You can have peace of mind knowing that
    you are not contributing to landfills and pollution, while still getting your trash out of your home.
     SHARSALON contractor trucks must be hybrid and must be equipped with clean air filtration systems that meet our high standards.</p>
