@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <h1><B>SHARSALON</B>&trade;</h1>
    <h2><b>Trash Collection Services</b></h2>
    
<p class="lead">We are a trash collection service run by private contactors. Eco-friendly disposal, and friendly small contrators who work with your schedule.
    Shrink your ecological footprint while supporting your community! Reasonable pricing with no commitments!
    </p>
    @Html.ActionLink("Sign up today >>", "Register", "Account", null, new { @class = "btn btn-primary btn-large" })

</div>
<br /><br />
<div class="row">
    <div class="col-lg-4">
    <img src="garbage-17541_640.jpg" alt="Mountain View" style="width:360px;height:245px;">
    </div>
    <div class="col-lg-4">
        <img src="street-cleaning-188997_640.jpg" alt="Mountain View" style="width:360px;height:245px;">
    </div>
    <div class="col-lg-4">
        <img src="20150425_091416.jpg" alt="Mountain View" style="width:360px;height:245px;">
    </div>
    </div>
<br /><br />


