@model IEnumerable<MVCWebApplication.Models.Address>
    @{
    ViewBag.Title = "Index";
    }

    <head>

    <style>
        html,
        body {
            font-family: Arial, sans-serif;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
            margin-bottom: 0;
        }
    </style>
    </head>

                      <table class="table">

                          @foreach (var address in Model)
                          {
                          <tr>

                              <td>
                                  @Html.DisplayFor(modelItem => address.Street)
                              </td>

                              
                          </tr>
                          }
                      </table>


    <div id="map" style="position: relative; height:500px;"></div>
    <script>
        var map;
        function initMap() {
            // Constructor creates a new map - only center and zoom are required.
            var mapDiv = document.getElementById('map');
            var map = new google.maps.Map(mapDiv, {
                center: { lat: 40.7413549, lng: -73.9980244 },
                zoom: 13
            });
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSUoZb1G7FkVWD_qBzlVhRhxvftCiTPQ4&v=3&callback=initMap">
    </script>



